<!DOCTYPE html>
<html>
<head>
	<title>AngularJS 依赖注入</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<script type="text/javascript" src="../../js/angular-1.4.6.js"></script>
</head>
<body>
<div class="home"><a href="../../index.html">首页</a></div>

<div class="aTitle"></div>
<div class="aPane">
  <div class="aCode">
    <pre>
AngularJS 提供很好的依赖注入机制。
以下5个核心组件用来作为依赖注入：
  value
  factory
  service
  provider
  constant
    </pre>
  </div>
  <!-- <div class="aShow">
    
  </div> -->
</div>

<div class="aTitle">value</div>
<div class="aPane">
  <div class="aCode">
    <pre>
Value 是一个简单的 javascript 对象，
用于向控制器传递值（配置阶段）：

&ltdiv id="app1" ng-controller="ctrl1"&gt
  {{student.name}}
&lt/div&gt

<b>脚本：</b>
var app1 = angular.module("app1",[]);
<mark>app1.value("user",{name:"张三",age:18});</mark>
app1.controller("ctrl1",function($scope,<mark>user</mark>){
  $scope.student = user;
});
angular.bootstrap(document.getElementById("app1"),["app1"]);
    </pre>
  </div>
  <div class="aShow">
    <div id="app1" ng-controller="ctrl1">
        {{student.name}}
    </div>
  </div>
</div>
<script type="text/javascript">
var app1 = angular.module("app1",[]);
app1.value("user",{name:"张三",age:18});
app1.controller("ctrl1",function($scope,user){
  $scope.student = user;
});
angular.bootstrap(document.getElementById("app1"),["app1"]);
</script>

<div class="aTitle">value</div>
<div class="aPane">
  <div class="aCode">
    <pre>
&ltdiv id="app2"&gt
  &ltdiv ng-controller="ctrl2"&gt
    半径：&ltinput type="number" ng-model="radius"&gt&ltbr/&gt
    面积：{{s}}
  &lt/div&gt
&lt/div&gt

<b>脚本：</b>
var app2 = angular.module("app2",[]);
app2.factory("math",function(){
  var math = {
    PI:3.1415926,
    square:function(r){
      return this.PI*r*r;
    }
  };
  return math;
});


app2.controller("ctrl2",function($scope,math){
  $scope.radius = 12;
  $scope.$watch("radius",function(val){
    $scope.s=math.square(val);
  })
});
angular.bootstrap(document.getElementById("app2"),["app2"]);
    </pre>
  </div>
  <div class="aShow">
    <div id="app2">
      <div ng-controller="ctrl2">
        半径：<input type="number" ng-model="radius"><br/>
        面积：{{s}}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var app2 = angular.module("app2",[]);
app2.factory("math",function(){
  var math = {
    PI:3.1415926,
    square:function(r){
      return this.PI*r*r;
    }
  };
  return math;
});

app2.controller("ctrl2",function($scope,math){
  $scope.radius = 12;
  $scope.$watch("radius",function(val){
    $scope.s=math.square(val);
  })
});
angular.bootstrap(document.getElementById("app2"),["app2"]);
</script>


<div class="aTitle">provider</div>
<div class="aPane">
  <div class="aCode">
    <pre>
&ltdiv id="app3" ng-controller="ctrl3"&gt
    半径：&ltinput type="number" ng-model="radius"&gt&ltbr/&gt
    面积：{{s}}
&lt/div&gt

<b>脚本：</b>
var app3 = angular.module("app3",[]);
app3.config(function($provide){
  $provide.provider("math",function(){
    this.$get = function(){
      var math = {
        PI:3.1415926,
        square:function(r){
          return this.PI*r*r;
        }
      };
      return math;
    }
  });
  
});

app3.controller("ctrl3",function($scope,math){
  $scope.radius = 12;
  $scope.$watch("radius",function(val){
    $scope.s=math.square(val);
  })
});
angular.bootstrap(document.getElementById("app3"),["app3"]);
    </pre>
  </div>
  <div class="aShow">
    <div id="app3" ng-controller="ctrl3">
        半径：<input type="number" ng-model="radius"><br/>
        面积：{{s}}
    </div>
  </div>
</div>
<script type="text/javascript">
var app3 = angular.module("app3",[]);
app3.config(function($provide){
  $provide.provider("math",function(){
    this.$get = function(){
      var math = {
        PI:3.1415926,
        square:function(r){
          return this.PI*r*r;
        }
      };
      return math;
    }
  });
  
});

app3.controller("ctrl3",function($scope,math){
  $scope.radius = 12;
  $scope.$watch("radius",function(val){
    $scope.s=math.square(val);
  })
});
angular.bootstrap(document.getElementById("app3"),["app3"]);
</script>


<div class="aTitle">constant</div>
<div class="aPane">
  <div class="aCode">
    <pre>
&ltdiv id="app4" ng-controller="ctrl4"&gt
  π：{{PI}}
&lt/div&gt

<b>脚本：</b>
var app4 = angular.module("app4",[]);
<mark>app4.constant("PI",3.1415926);</mark>
app4.controller("ctrl4",function($scope,PI){
  $scope.PI=PI;
});
angular.bootstrap(document.getElementById("app4"),["app4"]);
    </pre>
  </div>
  <div class="aShow">
    <div id="app4" ng-controller="ctrl4">
      π：{{PI}}
    </div>
  </div>
</div>
<script type="text/javascript">
var app4 = angular.module("app4",[]);
app4.constant("PI",3.1415926);
app4.controller("ctrl4",function($scope,PI){
  $scope.PI=PI;
});
angular.bootstrap(document.getElementById("app4"),["app4"]);
</script>
</body>
</html>