<!-- 合同信息-合同明细-还款计划 -->
<div id="refundplan-app" ng-controller="refundplan-app" class="detail-list-content">
	<div class="detail-list-scroll">
		<table class="table table-condensed table-hover table-vertical-center">
			<thead>
				<tr>
					<th>期数</th>
					<th>还款日期</th>
					<th>应还本金</th>
					<th>应还利息</th>
					<th>本息金额</th>
				</tr>
			</thead>
			<tbody id="data_body">
				<tr ng-if="dataList != null" ng-repeat="item in dataList">
					<td>第<span ng-bind="item.periodNum"></span>期</td>
					<td><span ng-bind="item.planRefundDate"></span></td>
					<td><span ng-bind="item.planRefundPrincipal|currency:''"></span></td>
					<td><span ng-bind="item.planRefundInterest|currency:''"></span></td>
					<td><span ng-bind="(item.planRefundPrincipal+item.planRefundInterest)|currency:''"></span></td>
				</tr> 
			</tbody>
		</table>
	</div>
	<!-- 分页 -->
	<pagination conf="paginationConf"></pagination>
	<div ng-if="dataList != null && dataList.length==0" id="msgTip" class="msgTr">温馨提示：该借款信息无还款计划</div>
</div>
<script src="../../static/js/pagination.js"></script>
<script>

var projectId = box.param.projectId;
api.api("supervise/repay/plans.do",
  $.extend( {pageNo:"1",pageSize:"5"}, box.param),
  function(res){
	var app = angular.module("refundplan-app",['pagination'])
	.controller("refundplan-app",["$scope",function($scope){
		var page = res.data.page;
		// 分页数据初始化
		$scope.paginationConf = {
	        currentPage: page.pageNo, // 当前页码
	        totalItems: page.total, // 总条数
	        itemsPerPage: page.pageSize, // 每页多少条
	        onChange: function(){
	        	var pageNo = this.currentPage;
	        	$scope.search(pageNo);
	        }
	    };
	    $scope.dataList = page.list;
	    // 关闭loading样式
	    box.closeLoad();

	    // 查询列表页
		$scope.search = function(num) {
			//box.showLoad();
			var pageNo = (num ==undefined)?"1":num;
			$scope.dataList = null;
	    	$scope.paginationConf.totalItems = 0;
			var pageSize = page.pageSize;
			var condition = {projectId:projectId,pageNo:pageNo,pageSize:pageSize};
			api.api("supervise/repay/plans.do",condition,function(res){
				$scope.dataList = res.data.page.list;
				$scope.paginationConf.totalItems = res.data.page.total;
				$scope.paginationConf.itemsPerPage = res.data.page.pageSize;
				$scope.$digest();
				//box.closeLoad();
			});
	    }
	}]);
	angular.bootstrap(document.getElementById("refundplan-app"), ['refundplan-app']);
},null);
</script>