<!DOCTYPE html>
<html>
<head>
	<title>vue 过渡效果-进入/离开</title>
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<script type="text/javascript" src="../../js/vue.js"></script>
	<meta charset="utf-8">
</head>
<body>
<div class="home"><a href="../../index.html">首页</a></div>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
<div class="aTitle">css过渡</div>
<div class="aPane">
	<div class="aCode">
		<pre class="note">
会有 6 个(CSS)类名在 enter/leave 的过渡中切换
1. <b>v-enter</b>：定义进入过渡的开始状态。在元素被插入时生效，在下一个帧移除。
2. <b>v-enter-active</b>：定义过渡的状态。在元素整个过渡过程中作用，在元素被插入时生效，
   在 transition/animation 完成之后移除。这个类可以被用来定义过渡的过程时间，延迟和曲线函数。
3. <b>v-enter-to</b>: 2.1.8版及以上 定义进入过渡的结束状态。在元素被插入一帧后生效 (于此同时 
   v-enter 被删除)，在 transition/animation 完成之后移除。
4. <b>v-leave</b>: 定义离开过渡的开始状态。在离开过渡被触发时生效，在下一个帧移除。
5. <b>v-leave-active</b>：定义过渡的状态。在元素整个过渡过程中作用，在离开过渡被触发后立即生效，
   在 transition/animation 完成之后移除。这个类可以被用来定义过渡的过程时间，延迟和曲线函数。
6. <b>v-leave-to</b>: 2.1.8版及以上 定义离开过渡的结束状态。在离开过渡被触发一帧后生效 
   (于此同时 v-leave 被删除)，在 transition/animation 完成之后移除。

<b>页面：</b>
&lt;div id="app1"&gt;
	&lt;button @click="show=!show"&gt;切换&lt;/button&gt;
	&lt;transition <mark>name="fade"</mark>&gt;
		&lt;div v-if="show"&gt;你好！&lt;/div&gt;
	&lt;/transition&gt;
&lt;/div&gt;

<b>脚本：</b>
var app1 = new Vue({
	el:"#app1",
	data:{
		show:true
	}
});

<b>样式：</b>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
		</pre>
	</div>
	<div class="aShow">
		<div id="app1">
			<button @click="show=!show">切换</button>
			<transition name="fade">
				<div v-if="show">你好！</div>
			</transition>
		</div>
	</div>
</div>
<script type="text/javascript">
var app1 = new Vue({
	el:"#app1",
	data:{
		show:true
	}
});
</script>




<style>
.jump-enter-active, .jump-leave-active{
	transform-origin: 0 50%;
}
.jump-enter-active{
	animation: jump-in 1s;
}
.jump-leave-active{
	animation: jump-out 1s;
}
@keyframes jump-in{
  0% {
    transform: translate(0) scale(0);
  }
  50% {
    transform: translate(50px) scale(1.5);
  }
  100% {
    transform: translate(0) scale(1);
  }
}

@keyframes jump-out{
  0% {
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(50px) scale(1.5);
  }
  100% {
    transform: translate(0) scale(0);
  }
}
</style>
<div class="aTitle">css动画</div>
<div class="aPane">
	<div class="aCode">
		<pre class="note">
<b>页面：</b>
&lt;div id="app2"&gt;
	&lt;button @click="show=!show"&gt;切换&lt;/button&gt;
	&lt;transition name="jump"&gt;
		&lt;div v-if="show"&gt;动画哦！&lt;/div&gt;
	&lt;/transition&gt;
&lt;/div&gt;

<b>脚本：</b>
var app2 = new Vue({
	el:"#app2",
	data:{
		show:true
	}
});

<b>样式：</b>
.jump-enter-active, .jump-leave-active{
	transform-origin: 0 50%;
}
.jump-enter-active{
	animation: jump-in 1s;
}
.jump-leave-active{
	animation: jump-out 1s;
}
@keyframes jump-in{
  0% {
    transform: translate(0) scale(0);
  }
  50% {
    transform: translate(50px) scale(1.5);
  }
  100% {
    transform: translate(0) scale(1);
  }
}

@keyframes jump-out{
  0% {
    transform: translate(0) scale(1);
  }
  50% {
    transform: translate(50px) scale(1.5);
  }
  100% {
    transform: translate(0) scale(0);
  }
}
		</pre>
	</div>
	<div class="aShow">
		<div id="app2">
			<button @click="show=!show">切换</button>
			<transition name="jump">
				<div v-if="show">动画哦！</div>
			</transition>
		</div>
	</div>
</div>
<script type="text/javascript">
var app2 = new Vue({
	el:"#app2",
	data:{
		show:true
	}
});
</script>



<link rel="stylesheet" type="text/css" href="../../css/animate.css">
<div class="aTitle">css动画</div>
<div class="aPane">
	<div class="aCode">
		<pre class="note">
<b>引入第三方样式库：</b>
&lt;link rel="stylesheet" type="text/css" href="../../css/animate.css"&gt;

<b>页面：</b>
&lt;div id="app3"&gt;
	&lt;button @click="show=!show"&gt;切换&lt;/button&gt;
	&lt;transition enter-active-class="animated fadeInLeft" 
				leave-active-class="animated fadeOutRight"&gt;
		&lt;div v-if="show"&gt;第三方动画！&lt;/div&gt;
	&lt;/transition&gt;
&lt;/div&gt;

<b>脚本：</b>
var app3 = new Vue({
	el:"#app3",
	data:{
		show:true
	}
});

		</pre>
	</div>
	<div class="aShow">
		<div id="app3">
			<button @click="show=!show">切换</button>
			<transition enter-active-class="animated fadeInLeft" 
						leave-active-class="animated fadeOutRight">
				<div v-if="show">第三方动画！</div>
			</transition>
		</div>
	</div>
</div>
<script type="text/javascript">
var app3 = new Vue({
	el:"#app3",
	data:{
		show:true
	}
});
</script>




<div class="aTitle">JavaScript 钩子</div>
<div class="aPane">
	<div class="aCode">
		<pre class="note">
&lt;transition
  v-on:before-enter="beforeEnter"
  v-on:enter="enter"
  v-on:after-enter="afterEnter"
  v-on:enter-cancelled="enterCancelled"
  v-on:before-leave="beforeLeave"
  v-on:leave="leave"
  v-on:after-leave="afterLeave"
  v-on:leave-cancelled="leaveCancelled"
&gt;
  &lt;!-- ... --&gt;
&lt;/transition&gt;

<b>引入第三方脚本库：</b>
&lt;script type="text/javascript" src="../../js/velocity.js"&gt;&lt;/script&gt;

<b>页面：</b>
&lt;div id="app4"&gt;
	&lt;button @click="show=!show"&gt;切换&lt;/button&gt;
	&lt;transition v-on:before-enter="beforeEnter"
			    v-on:enter="enter"
			    v-on:before-leave="beforeLeave"
				v-on:leave="leave"
				v-bind:css="false"&gt;
		&lt;div v-if="show"&gt;velocity动画！&lt;/div&gt;
	&lt;/transition&gt;
&lt;/div&gt;

<b>脚本：</b>
var app4 = new Vue({
	el:"#app4",
	data:{
		show:true
	},
	methods: {
	    beforeEnter: function (el) {
	      el.style.opacity = 0
	      el.style.transformOrigin = 'left'
	    },
	    enter: function (el, done) {
	      Velocity(el, { opacity: 1, fontSize: '1.4em' }, { duration: 300 })
	      Velocity(el, { fontSize: '1em' }, { complete: done })
	    },
	    beforeLeave: function (el) {
	      el.style.transformOrigin = 'left'
	    },
	    leave: function (el, done) {
	      Velocity(el, { translateX: '15px', rotateZ: '50deg' }, { duration: 600 })
	      Velocity(el, { rotateZ: '100deg' }, { loop: 2 })
	      Velocity(el, {
	        rotateZ: '45deg',
	        translateY: '30px',
	        translateX: '30px',
	        opacity: 0
	      }, { complete: done })
	    }
	}
});

		</pre>
	</div>
	<div class="aShow">
		<div id="app4">
			<button @click="show=!show">切换</button>
			<transition v-on:before-enter="beforeEnter"
					    v-on:enter="enter"
					    v-on:before-leave="beforeLeave"
						v-on:leave="leave"
						v-bind:css="false">
				<div v-if="show">velocity动画！</div>
			</transition>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../js/velocity.js"></script>
<script type="text/javascript">
var app4 = new Vue({
	el:"#app4",
	data:{
		show:true
	},
	methods: {
	    beforeEnter: function (el) {
	      el.style.opacity = 0
	      el.style.transformOrigin = 'left'
	    },
	    enter: function (el, done) {
	      Velocity(el, { opacity: 1, fontSize: '1.4em' }, { duration: 300 })
	      Velocity(el, { fontSize: '1em' }, { complete: done })
	    },
	    beforeLeave: function (el) {
	      el.style.transformOrigin = 'left'
	    },
	    leave: function (el, done) {
	      Velocity(el, { translateX: '15px', rotateZ: '50deg' }, { duration: 600 })
	      Velocity(el, { rotateZ: '100deg' }, { loop: 2 })
	      Velocity(el, {
	        rotateZ: '45deg',
	        translateY: '30px',
	        translateX: '30px',
	        opacity: 0
	      }, { complete: done })
	    }
	}
});
</script>

</body>
</html>